$font-stack: 'Hannotate SC', 'Helvetica', sans-serif;
$font-title: 'Hannotate SC', 'Helvetica', sans-serif;
$font-foot: 'STHeiti', 'Consolas', 'monospace';
$font-date: 'Consolas', 'monospace';
$font-more: 'Consolas', 'monospace';
$font-code: 'Consolas', 'monospace';

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$a-tags-visited: 'a:visited';

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
pre {
  padding: 1.5em
}
.sourceCode {
  background-color: $base2;
  border: 0;
  border-radius: 0;
  color: $base00;
  font-family: $font-code;
  font-size: 0.9em;
  line-height: 1.1em;
};
.Sourcecode span.kw { color: $green; font-weight: bold; }
.sourceCode span.dt { color: $red; }
.sourceCode span.dv { color: $cyan; }
.sourceCode span.bn { color: $cyan; }
.sourceCode span.fl { color: $cyan; }
.sourceCode span.ch { color: $blue; }
.sourceCode span.st { color: $blue; }
.sourceCode span.co { color: $base1; font-style: italic; }
.sourceCode span.ot { color: $green; }
.sourceCode span.al { color: $red; font-weight: bold; }
.sourceCode span.fu { color: $yellow; }
.sourceCode span.re { }
.sourceCode span.er { color: $red; font-weight: bold; }

#{$a-tags} {
  color: $yellow;
  text-decoration: underline;
}

#{$a-tags-hover} {
  background-color: $base2;
}


body {
  font-family: $font-stack;
  background-color: $base3;
  font-size: 18pt;

  .navbar-solarized {
    background-color: $base1;
    color: $base0;
    border-radius: 0;
    border: 0;
    font-size: 0.67em;
    .logo #{$a-tags} {
      display: inline-block;
      color: $base2;
      padding: 4px 30px;
      background-color: $yellow;
      text-decoration: none;
    }
    .logo #{$a-tags-hover} {
      background-color: $yellow;
    }
  }

    #content {
      color: $base00;
      max-width: 52em;

      h1.title {
        margin-bottom: 18pt;
        font-size: 2em;
        text-align: center;
        color: $base2;
        font-family: $font-title;
        font-weight: bold;

        span {
          font-family: $font-date;
          font-weight: normal;
          color: $base1;
          font-size: 0.3em;
          display: block;
          margin-top: 9pt;
          text-align: center;
        }

        #{$a-tags} {
          color: $yellow;
          text-decoration: none;
        }

      }

        div.post {
          padding: .5em 2.5em;
          line-height: 27pt;
        }

        div.post p {
          margin-bottom: 36pt;
        }

        div#more {
          font-family: $font-more;
          font-size: 0.5em;
          text-align: center;
          margin-top: -4em;
          margin-bottom: 1.5em;
        }

        hr {
          display: block;
          margin: 4em auto;
          border: 1px dashed $base2;
        }
  }

  ul#archives {
    padding-left: 2.5em;
    li {
      span {
        font-family: $font-date;
        font-size: 0.6em;
      }
    }
  }

  div#footer {
    font-family: $font-foot;
    color: $base1;
    margin: 2.5em auto;
    font-size: 0.5em;
    text-align: center;
  }

}
