$font-stack: sans;
$font-title: sans-serif;
$font-foot: monospace;
$font-date: monospace;
$font-more: monospace;
$font-code: monospace;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$a-tags-visited: 'a:visited';


$base00:    #151515;
$base01:    #202020;
$base02:    #303030;
$base03:    #505050;

$base0:     #b0b0b0;
$base1:     #d0d0d0;
$base2:     #e0e0e0;
$base3:     #f5f5f5;

$yellow:    #f4bf75;
$orange:    #d28445;
$red:       #ac4142;
$magenta:   #8f5536;
$violet:    #aa759f;
$blue:      #6a9fb5;
$cyan:      #75b5aa;
$green:     #90a959;

pre {
  padding: 1.5em;
  border-radius: 0;
  width: 90%;
  margin: 0 auto 36pt;
}
.sourceCode {
  background-color: $base2;
  border: 0;
  border-radius: 0;
  color: $base00;
  font-family: $font-code;
  font-size: 0.9em;
  line-height: 1.1em;
};
.Sourcecode span.kw { color: $green; font-weight: bold; }
.sourceCode span.dt { color: $red; }
.sourceCode span.dv { color: $cyan; }
.sourceCode span.bn { color: $cyan; }
.sourceCode span.fl { color: $cyan; }
.sourceCode span.ch { color: $blue; }
.sourceCode span.st { color: $blue; }
.sourceCode span.co { color: $base03; font-style: italic; }
.sourceCode span.ot { color: $green; }
.sourceCode span.al { color: $red; font-weight: bold; }
.sourceCode span.fu { color: $orange; }
.sourceCode span.re { }
.sourceCode span.er { color: $red; font-weight: bold; }

#{$a-tags} {
  color: $magenta;
  text-decoration: none;
}

#{$a-tags-hover} {
   text-decoration: none;
   border-bottom: 1px solid $magenta;
}


body {
  font-family: $font-stack;
  background-color: $base3;
  font-size: 20px;

  .navbar-solarized {
    #{$a-tags} {
      border-bottom: none;
    }
  }
  .no-padding {
    padding: 0;
  }

  .header {
      background-color: $base3;
      border-bottom: 2px solid #333;
      position: fixed;
      height: 64px;
      padding-left: 32px;
    h3 {
      background-color: #111;
      color: #fff;
      position: absolute;
      padding: 9px;
      margin: 0;
      bottom: 0;
      a {
        color: #fff;
      }
      a:hover {
        text-decoration: none;
        border: none;
        color: #ccc;
      }
    }
    div.vr {
        border-left: 1px solid #333;
        height: 320px;
        position: absolute;
    }
    nav {
      position: absolute;
      bottom: 0;
      right: 36px;
      a {
        background-color: #111;
        color: #fff;
        border-radius: 0;
        padding: 4px 18px;
        font-size: 80%;
      }
      a:hover {
        background-color: #555;
        border: none;
      }
    }
  }

    #content {
      padding-top: 64px;
      color: $base00;


      h1.title {
        margin-bottom: 18pt;
        font-size: 2em;
        text-align: center;
        color: $base2;
        font-family: $font-title;
        font-weight: bold;

        span {
          font-family: $font-date;
          font-weight: normal;
          color: $base0;
          font-size: 0.5em;
          display: block;
          margin-top: 9pt;
          text-align: center;
        }

        #{$a-tags} {
          color: $magenta;
        }

      }

        div.post {
          padding: .5em 2.5em;
          line-height: 27pt;
        }

        div.post p {
          margin-bottom: 36pt;
        }

        blockquote p {
          margin-bottom: 0 !important;
        }

        div#more {
          font-family: $font-more;
          font-size: 0.8em;
          text-align: center;
          margin-top: -4em;
          margin-bottom: 1.5em;
        }

        hr {
          display: block;
          margin: 4em auto;
          border: 1px dashed $base2;
        }
  }

  ul#archives {
    padding-left: 2.5em;
    li {
      font-size: 0.8em;
      span {
        font-family: $font-date;
        font-size: 0.6em;
        font-style: italic;
      }
    }
  }

  div#footer {
    font-family: $font-foot;
    color: $base0;
    margin: 2.5em auto;
    font-size: 0.8em;
    text-align: center;
  }

}
